/**
 * 此css文件为标题栏、导航栏的css样式
 */

.market-body{
	border: 1px solid red;
}
.market-logo{
	float: left;
}
.market-menu{
	border: solid 1px blue;
	/*margin-left: 50px;*/
	width: 450px;
	/*padding-left: 30px;*/
	margin-top: 20px;	
}
ul li{
	border: solid 1px yellow;
}
/*自定义字体样式，该样式为汉仪细行楷*/
@font-face {
	font-family:XingkaiThin;
	src: url(..//fonts/XingkaiThin.ttf);
}
/*logo文字样式*/
.market-logo>span:nth-child(1){
	font-family: "XingkaiThin";
	font-weight: bolder;
	font-size: 50px;
	/*文字渐变色，可兼容目前主流浏览器*/
	background: -webkit-linear-gradient(blue 24%,red 34%,yellow);
	background: -moz-linear-gradient(blue 24%,red 34%,yellow);
	background: -o-linear-gradient(blue 24%,red 34%,yellow);
	background: linear-gradient(blue 24%,red 34%,yellow);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip: text;
	color:transparent;
	/*文字阴影效果，可兼容目前主流浏览器*/
	-webkit-text-shadow: 5px 5px 6px #98FB98;
	-moz-text-shadow: 5px 5px 6px #98FB98;
	-o-text-shadow: 5px 5px 6px #98FB98;
	text-shadow: 5px 5px 6px #98FB98;
}
/*网站logo简介的样式*/
.market-logo>span:nth-child(2){
	font-family: XingkaiThin;
	font-size: 20px;
	color: #800080;
}
/*搜索框的样式*/
.seek{
	border: solid 1px green;
	height: 60px;
	width: 100%;
	
	background-color: rgba(0,0,255,0.2);
}
